

.volunteer-present {
    background-color:#252b31;
    font-size: 20px;
    color:#d49c6b;
    padding: 50px;
    margin: 20px 200px
}
.volunteer-form {
    background-color:#d49c6b;
    margin: 20px 200px;
    font-size: 20px;
    color:#252b31;
    padding: 50px;
}